.colores{
    font-family: "Open Sans";
}

.padd{
    text-align: center;
}

.paddi{
    padding-left: 100px;
}

.medida{
    max-width: 560pt !important;
    padding-left: 0px;
    padding-right: 0px;
}

.medida2{
    padding-left: 0px; 
}

.medidarow{
    width: 100px !important;
}

.tama{
    box-sizing: content-box !important;
}

.monte2{
    width: 100%;
    height: 30px;
    font-size: 12pt;
}

.monte{
    width: 100%;
    height: 30px;
    font-size: 12pt;
}

.monte7{
    width: 350px;
    height: 30px;
    font-size: 12pt;
    position: absolute;
    right: 40px;
    bottom: 120px;
}

.monte8{
    width: 360px !important;
    height: 40px !important;
    font-size: 12pt;
    position: absolute;
    right: 40px;
    bottom: 65px;
}

.altra{
    height:3px !important;
}

.monte3{
    width: 100%;
    
    font-size: 12pt;
}



.monte:focus{
    border-color: #59057b !important;
    color: black !important;
    opacity: 0.7;
}

.colorwidget{
border-color: transparent;
padding-top: 0px;
padding-bottom: 0px;
}

.tamletra{
    font-size: 12pt;
}

.sinpadd{
    padding-top: 0px;
    padding-bottom: 0px;   
    
}

.invisible{
    visibility: hidden;
}

.colorbtnd{
   
    background-color: #59057b !important;
    color: white;
}

.colorbtn{ 
    color: white;
    background-color: #59057b;
    height:40px;
    width:140px;
    font-size: 12pt;
  }

  .colorbtn:hover{     
    background-color: #9e48c0c0 !important;
  }

  .coloricono{ 
    color: #59057b;
    background-color:transparent;
    height:40px;
   
    font-size: 12pt;
  }

  .coloricono:hover{     
    background-color: #9e48c048 !important;
    
  }

  .coloricono:focus{     
    background-color: #9e48c048 !important;
    border-color: 2px solid yellow !important;
  }

  .colorbtn3{ 
    color: white;
    background-color: #5a057b9c;
    font-size: 12pt;
  }

  
  .colorbtn4{ 
    color: white;
    background-color: #5a057ba6 !important;
    height:40px;
    width:140px;
    font-size: 12pt;
  }

  .colorbtn4:hover{     
    background-color: #9e48c0c9 !important;
  }

  .colorbtn3:hover{     
    background-color: #9e48c0c9 !important;
  }

  .colorbtn6{ 
    color: white;
    background-color: #5a057b9c;
    font-size: 12pt;
    height:40px;
    width:140px;
  }

  .colorbtn6:hover{     
    background-color: #9e48c0c9 !important;
  }

  

  .letrasalir{
    font-size: 12pt !important; 
  }

  .colorbtn2{ 
    color: white;
    background-color: #59057b;
    font-size: 12pt;
  }
  


  .hespan{
      height:80px !important;
  }

  .hespan2{
    width:320px !important;
    height:80px !important;
}

.tambutton{
    height:30px !important;
    width:60px !important;
}

.tambutton2{
    height:30px !important;
    width:90px !important;
    font-size: 12pt !important;   
}

.reubicarclose{
    margin-top: -3px !important;
    border: 0px solid black !important;
    border-radius: 5px !important;    
}

.aligfn{
    text-align: left;
}

.paddibutton{
    padding-bottom: 0px !important;
    
        border-color: transparent;
        padding-top: 0px;
        padding-left: 0px;
        
}

.colorbtnlist{
        color: white !important;
        text-decoration: none !important;
}


.enelcentro{      
    right: 100px !important;
}

.colorsearch{
    color: white !important;
}
.colorsearch:focus{
    color: white !important;
    opacity: 0.4;
}
.colorsearch:hover{
    color: white !important;
    opacity: 0.4;
    text-decoration: none !important;
    
}
 


